body {
    background-color: rgb(213, 226, 222);
    color: #b8860b;
    text-align: center;
}
.contenedor{
    border: 3px solid black;
    margin: 30px 600px 30px 600px;
    padding: 30px 30px 30px 30px;
}
.contenedor2{
    border: 3px solid black;
    margin: 30px 600px 30px 600px;
    padding: 30px 30px 30px 30px;
}
.fondo{
    color: cadetblue;
}
